

 
table {
    border: 2px black solid;
    border-collapse: separate;
    margin: 100px 200px;
    justify-content: center;
    width: 50%;  
}
.head{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.container{
    height: 200px;
  background-color: dodgerblue;
  border: 1px solid lightgrey;
  display: flex;
  align-items: center;
}
.flex-item{
    text-align: center;
    height: 100px;
    width: 100px;
}